<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img width="300" src="https://i.kym-cdn.com/entries/icons/mobile/000/027/852/Screen_Shot_2018-12-12_at_1.02.39_PM.jpg">
    <h1>
        Hello World
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio laudantium facilis porro a doloribus dolores consequuntur provident possimus veritatis id, eveniet ratione, quae illo temporibus sunt voluptatem doloremque fugit! 
    </p>
</body>
</html>