{% extends 'index.html' %}


{% block content %}

<h1>Post list</h1>

{% for post in posts %}
  <div class="card" style="width: 18rem;">
    <img src="/media/{{ post.photo }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }} {{ post.rate }}</h5>
      <p class="card-text">{{ post.created_at }}</p>
      {% for hashtag in post.hashtags.all %}
        <a href="#">
          <span class="btn btn-secondary">#{{ hashtag.title }}</span>
        </a>
      {% endfor %}
      <a href="{{ post.id }}/" class="btn btn-primary">Перейти</a>
    </div>
  </div>
{% endfor %}

{% endblock %}